.add-contact-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    font-family: "PT Sans", Calibri, Tahoma, sans-serif;
  }
  
  .add-contact-container h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  
  .add-contact-form label {
    font-weight: bold;
    margin-bottom: 5px;
    margin-left: 10%;
  }
  
  .add-contact-form input[type="text"] {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-left: 10%;
  }
  
  
  .add-contact-form ul {
    padding: 0;
    list-style: none;
  }
  
  .add-contact-form ul li {
    margin-bottom: 5px;
  }
  
  .add-contact-form button[type="submit"] {
    background-color: #007BFF;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
  }
  
  .add-contact-form button[type="submit"]:hover {
    background-color: #0056b3;
  }
  
  .add-contact-form .phone-input {
    display: flex;
    align-items: center;
  }
  
  .add-contact-form .phone-input input[type="text"] {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .add-contact-form .phone-input button[type="button"] {
    background-color: #28A745;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 10px;
    margin-left: 25px;
  }
  
  .add-contact-form .phone-input button[type="button"]:hover {
    background-color: #1e7e34;
  }

  .list-number {
    background-color: #007BFF;
    color: #fff;
    width: 50%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    text-align: center;
  }
  
  .go-back-link {
    text-align: center;
    margin-top: 20px;
  }
  
  .go-back-button button{
    background-color: #007BFF;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 2%;
    width: 100%;
  }
  
  .go-back-button button:hover {
    color: #0056b3;
  }

  @media screen and (max-width: 600px) {

    .add-contact-form .phone-input {
      display: block;
      align-items: center;
      margin-left: -1px;
    }
  }
  