/* EditContactForm Container */
.edit-contact-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-family: "PT Sans", Calibri, Tahoma, sans-serif;
  }
  
  /* Form Title */
  .edit-contact-form h2 {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: #333;
  }
  
  /* Form Fields */
  .edit-contact-form .form-field {
    margin-bottom: 15px;
  }
  
  /* Label for Form Fields */
  .edit-contact-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
  }
  
  /* Input Fields */
  .edit-contact-form input {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #fff;
    font-size: 14px;
    color: #333;
  }
  
  /* Save Button */
  .edit-contact-form button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  /* Save Button Hover Effect */
  .edit-contact-form button:hover {
    background-color: #0056b3;
  }

  .button-back {
    margin-top: 2%;
  }
  